body {
  background-color: #121212;
}

h1 {
  color: #d9d9d9;
}

div {
  background-color: #121212;
  color: #d9d9d9;
}

a:link {
  text-decoration: none;
  colour: #ffffff
}

a:visited {
  text-decoration: none;
  color: #d9d9d9;
}

a:hover {
  text-decoration: underline;
  color: #d9d9d9;
}

a:active {
  text-decoration: underline;
  color: #d9d9d9;
}
